a,
a:visited {
    text-decoration: none;
    border:none;
    color: inherit;
}
html {
    background-color: $primaryBlack;
    cursor: url('../assets/handIdle.svg') 15 15, auto;
}
img {
    // width: 100%;
    display: block;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.wrapper {
    max-width: 1080px;
    width: 90%;
    margin: 0 auto;
}
