main {
  background-color: $primaryBlack;
}


button {
  background-color: $primaryAccent;
  border: none;
  color: $primaryColor;
  cursor: pointer;
  border-radius: 50%;
  transition: all 1s;
  height: 50px;
  width: 50px;
  padding:0;
  p {
    font-size: 20px;
    opacity: 0;
    transition: opacity 0.5s;
    margin: 0;
  }
  &:hover,
  &:focus {
    cursor: url('../assets/handActive.svg') 15 15, auto;
    p {
      opacity: 1;
    }
  }
}

section .wrapper{
  position: relative;
}

.window {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(5, 18vh);
  overflow: hidden;
  background-color: $primaryColor;
  position: relative;
  border-bottom: 10px solid $primaryBlack;
  opacity: 1;
  transition: all 1s;
}
.closedEye {
  position: absolute;
  width: 100%;
  height: 90vh;
  top: 0;right: 0;left: 0;bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hideFrame {
  overflow: hidden;
  opacity: 0;
  transition: all 1s;
  button {
    display: none;
  }
}

/* Frame 1 */

.backgroundLine {
  grid-column: 1 / -1;
  grid-row: 3 / span 1;
  img {
    height: 100%;
    width: 100%;
    position: relative;
    top: 10px;
  }
}
.characterOne {
    grid-column: 2 / span 1;
    grid-row: 2 / span 3;
    position: relative;
    right: 20px;
    img {
      height: 100%;
      min-height: 400px;
    }
    button {
      position: absolute;
      top: 100px; 
      left: 50px;
    }
    button:hover,
    button:focus {
      top: 75px;
      left: 25px;
      height:100px;
      width:100px;
    }
}
.frameOne p {
  margin: 0;
  padding: 0;
  grid-column: 3 / span 2;
  grid-row: 2 / span 1;
}
/* Frame 2 */
.portrait {
  grid-column: 3 / span 3;
  grid-row: 1 / span 4;
  position: relative;
  top: -250px;
  right: -25px;
}
.conversationBox {
  background-color: $primaryColor;
  color: black;
  border-radius: 25px;
  border: 10px solid $primaryBlack;

  grid-column: 1 / span 3;
  grid-row: 4 / span 2;
  
  padding: 15px;
  margin: 10px;
  h2 {
    font-size: 20px;
    margin: 0;
  }
  >p {
    font-size: 17px;
    margin: 0;
    padding-bottom: 10px;
  }
}
.buttonFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 35px;
  button {
    z-index: 2;
    font-size: 17px;
    position: relative;
    top: 0;
  }
  button:hover,
  button:focus {
    top: -25px;
    height:100px;
    width:100px;
  }
}

/* Frame 3 */
.endFrame button {
  &:hover,
  &:focus {
    left: 42.5%;
    top: 46%;
    height: 100px;
    width: 100px;
  }
}
.buttonDiv {
  grid-row: 4 / span 1;
  grid-column: 3 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.endingIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;

  grid-row: 2 / span 1;
  grid-column: 3 / span 1;
}