main {
  background-color: black;
}
.hideFrame {
  display: none;
}
.window {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(5, 18vh);
  border: 1px solid red;
  overflow: hidden;
  border: 10px solid black;
  border-top: none;
  background-color: white;
  position: relative;
}


/* Window 1 */

.backgroundLine {
  grid-column: 1 / -1;
  grid-row: 3 / span 1;
}
.characterOne {
    grid-column: 2 / span 1;
    grid-row: 2 / span 3;
    position: relative;
    right: 20px;
    // width: 100%;
    // height: 100%;
    img {
      height: 100%;
    }
    button {
      position: absolute;
      top: 100px; 
      left: 50px;
      height: 50px;
      width: 50px;
      padding: 0;
      cursor: pointer;
      overflow: hidden;
      border-radius: 50%;
      transition: all 1s;

      border: none;
      color: white;
      background-color: black;
      p {
        font-size: 12px;
        opacity: 0;
        transition: opacity 0.5s;
      }
    }
    button:hover,
    button:focus {
      top: 75px;
      left: 25px;
      height:100px;
      width:100px;
      p {
        opacity: 1;
      }
    }
}
.frameOne p {
  margin: 0;
  padding: 0;
  grid-column: 3 / span 2;
  grid-row: 2 / span 1;
  font-size: 25px;
}
/* Window 2 */
.portrait {
  grid-column: 3 / span 3;
  grid-row: 1 / span 4;
  position: relative;
  top: -250px;
  right: -25px;
}
.conversationBox {
  background-color: grey;
  grid-column: 1 / span 3;
  grid-row: 4 / span 2;
  border-radius: 25px;
}
.buttonFlex {
  display: flex;
  flex-direction: column;
}