* {
    font-family: $fontSansSerif;
}

html {
    font-size: 62.5%;
}


/* Text Styles */
.italic {
    font-style: italic;
}
.bold {
    font-weight: bold;
}
.uppercase {
    text-transform: uppercase;
}
.wiggly {
    position: relative;
    animation: wigglyText 1s infinite ease-in-out alternate-reverse;
}