$primaryColor: #fff;
$primaryAccent: #3F7FA9;

/*
accent: #EF414C
primary: #F3F7F0
secondary: #19323C
tertiary: #3F7FA9
*/

$primaryBlack: #000;
$primaryWhite: #fff;

$translucentBlack: transparentize($primaryBlack, 0.4);

$fontSerif: serif;
$fontSansSerif: sans-serif;

