$primaryColor: #fefefe;
$primaryAccent: #0E0E0E;
$inputAccent: #EF414C;

$primaryBlack: #0E0E0E;
$primaryWhite: #fefefe;

$primaryGrey: rgb(63, 63, 63);

$translucentBlack: transparentize($primaryBlack, 0.4);

$fontSerif: serif;  
$fontSansSerif: sans-serif;

$firstBreak: 1080px;
$secondBreak: 650px;
$thirdBreak: 400px;


$buttonHoverSize: 100px;
$buttonNoHoverSize: 75px;