$primaryColor: #fefefe;
$primaryAccent: #0E0E0E;//#3F7FA9;

/*
accent: #EF414C
primary: #F3F7F0
secondary: #19323C
tertiary: #3F7FA9
*/

$primaryBlack: #0E0E0E;
$primaryWhite: #fefefe;

$translucentBlack: transparentize($primaryBlack, 0.4);

$fontSerif: serif;
$fontSansSerif: sans-serif;

$firstBreak: 900px;
$secondBreak: 650px;
$thirdBreak: 400px;