/* Setup - setup.scss / variables.scss / mixins.scss */
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.skipLink {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skipLink:focus {
  left: 0;
}

/*
accent: #EF414C
primary: #F3F7F0
secondary: #19323C
tertiary: #3F7FA9
*/
/* Keyframe Stylings keyframes.scss */
@-webkit-keyframes arrowFloat {
  0% {
    top: -10px;
  }
  100% {
    top: 10px;
  }
}
@keyframes arrowFloat {
  0% {
    top: -10px;
  }
  100% {
    top: 10px;
  }
}

/* Type Styles - type.scss */
* {
  font-family: sans-serif;
}

html {
  font-size: 62.5%;
}

/* Global Styles - global.scss */
a,
a:visited {
  text-decoration: none;
  border: none;
  color: inherit;
}

html {
  background-color: #0E0E0E;
  cursor: url("../assets/handIdle.svg") 15 15, auto;
}

img {
  display: block;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.wrapper {
  max-width: 1080px;
  width: 90%;
  margin: 0 auto;
}

/* Header Styles - header.scss */
header {
  background-color: #0E0E0E;
  color: #fefefe;
}

h1 {
  margin: 0;
  padding: 4px 10px;
  font-size: 2rem;
  color: #fefefe;
}

/* Main Styles - header.scss */
main {
  background-color: #0E0E0E;
}

button {
  background-color: #0E0E0E;
  border: none;
  color: #fefefe;
  cursor: pointer;
  border-radius: 50%;
  -webkit-transition: all 1s;
  transition: all 1s;
  height: 50px;
  width: 50px;
  padding: 0;
}

button p {
  font-size: 20px;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  margin: 0;
}

button:hover, button:focus {
  cursor: url("../assets/handActive.svg") 15 15, auto;
}

button:hover p, button:focus p {
  opacity: 1;
}

.buttonDiv {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / span 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / span 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

section .wrapper {
  position: relative;
}

.window {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (20%)[5];
      grid-template-columns: repeat(5, 20%);
  -ms-grid-rows: (18vh)[5];
      grid-template-rows: repeat(5, 18vh);
  overflow: hidden;
  background-color: #fefefe;
  position: relative;
  border-bottom: 10px solid #0E0E0E;
  opacity: 1;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.closedEye {
  position: absolute;
  width: 100%;
  height: 90vh;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hideFrame {
  overflow: hidden;
  opacity: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.hideFrame button {
  display: none;
}

.tutorial {
  background-color: #fefefe;
  position: absolute;
  z-index: 200;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  color: #0E0E0E;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (20%)[5];
      grid-template-columns: repeat(5, 20%);
  -ms-grid-rows: (18vh)[5];
      grid-template-rows: repeat(5, 18vh);
  border-bottom: 10px solid #0E0E0E;
}

.tutorial h2 {
  font-size: 2.5rem;
  -ms-grid-column: 2;
  grid-column: 2;
  margin-top: 60px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / span 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2 / span 3;
}

.tutorial p {
  font-size: 2rem;
}

.tutorial ul {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / span 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2 / span 3;
  font-size: 2rem;
}

.tutorial ul li {
  position: relative;
  margin: 10px 0;
}

.tutorial ul li::before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  left: -15px;
  top: 5px;
  border-radius: 50%;
  background-color: #0E0E0E;
}

.tutorial button:hover,
.tutorial button:focus {
  top: 75px;
  left: 25px;
  height: 100px;
  width: 100px;
}

.tutorial .buttonDiv {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5 / span 1;
}

.tutorialArrow {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / span 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / span 1;
  position: relative;
  top: 0px;
  animation: arrowFloat 1s infinite ease-in-out alternate-reverse;
}

.tutorialArrow img {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

/* Frame 1 */
.backgroundLine {
  grid-column: 1 / -1;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / span 1;
}

.backgroundLine img {
  height: 100%;
  width: 100%;
  position: relative;
  top: 10px;
}

.characterOne {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2 / span 3;
  position: relative;
  right: 20px;
}

.characterOne img {
  height: 100%;
  min-height: 400px;
}

.characterOne button {
  position: absolute;
  top: 100px;
  left: 50px;
}

.characterOne button:hover,
.characterOne button:focus {
  top: 75px;
  left: 25px;
  height: 100px;
  width: 100px;
}

/* Frame 2 */
.portrait {
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-column: 3 / span 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1 / span 4;
  position: relative;
  top: -250px;
  right: -25px;
}

.conversationBox {
  background-color: #fefefe;
  color: black;
  border-radius: 25px;
  border: 10px solid #0E0E0E;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  grid-row: 4 / span 2;
  padding: 15px;
  margin: 10px;
}

.conversationBox h2 {
  font-size: 20px;
  margin: 0;
}

.conversationBox > p {
  font-size: 17px;
  margin: 0;
  padding-bottom: 10px;
}

.buttonFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 35px;
}

.buttonFlex button {
  z-index: 2;
  font-size: 17px;
  position: relative;
  top: 0;
}

.buttonFlex button:hover,
.buttonFlex button:focus {
  top: -25px;
  height: 100px;
  width: 100px;
}

/* End Frame */
.endingIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / span 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / span 1;
}

.endFrame button {
  position: absolute;
}

.endFrame button:hover, .endFrame button:focus {
  height: 100px;
  width: 100px;
}

/* Footer Styles - footer.scss */
footer {
  background-color: #0E0E0E;
  color: #fefefe;
  text-align: center;
}

footer p {
  margin: 0;
  padding: 0px 0;
  font-size: 12px;
}
